TURSO_DATABASE_URL=file:local.db
TURSO_AUTH_TOKEN=
AUTH_SECRET=cambia-este-secreto-en-produccion
SUPER_ADMIN_EMAIL=admin@icci.org.mx

# OpenAI API Key para el Chatbot de ICCI
OPENAI_API_KEY="tu_clave_aqui"
